<div class="w-full flex justify-between items-center text-[<%= site_colors.primary %>] border-b-[2px] uppercase">
  <h2 class="text-md md:text-lg uppercase"  style="font-family: <%= FontPrimary.first.category_font.title %>;"><%== titleHero %></h2>
</div>