<section class="w-full h-full relative">
  <%= image_tag "bg-hero1.jpg", class:"fixed w-full h-full object-cover top-0 z-[-2]"%>
  <div class="w-full h-full <%== bg_hero%> opacity-90 py-20">
    <div class="container mx-auto flex items-center justify-center">
      <div class="flex flex-col items-center justify-center gap-2">
        <h1 class="text-white text-4xl poppins-bold "><%== title_hero.upcase %></h1>
        <div class="border w-[72px] border-white"></div>
        <span class="text-white montserrat-light">HOME - <%== description_hero.upcase %></span>
      </div>
    </div>
  </div>
</section>