<section class="w-full <%== bg_top%>" data-controller="scroll-active" data-scroll-active-target="section">
  <div class="container mx-auto flex flex-col items-center justify-center py-16 gap-2 top-down-animation">
    <h1 class="poppins-bold text-4xl text-[#555555]"><%== title_top.upcase %></h1>
    <div class="border border-[#77C720] border[2px] w-[72px]"></div>
    <h3 class="text-center max-w-[800px] text-[#555555]"><%== subtitle_top %></h3>
  </div>
</section>