<!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
<script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/4.0.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
  cookieconsent.run({
    "notice_banner_type": "interstitial",
    "consent_type": "express",
    "palette": "light",
    "language": "pt",
    "page_load_consent_levels": ["strictly-necessary"],
    "notice_banner_reject_button_hide": false,
    "preferences_center_close_button_hide": false,
    "page_refresh_confirmation_buttons": false,
    "website_name": "Prefeitura de jateí"
  });

  // // Function to modify the styles of the cookie consent overlay
  // function modifyCookieConsentOverlay() {
  //   var overlay = document.querySelector('.termsfeed-com---nb-interstitial-overlay');
  //   if (overlay) {
  //     overlay.style.top = '';
  //     overlay.style.bottom = '0';
  //   }
  // }

  // Function to change the text of the element with ID 'cc-nb-text'
  function changeConsentText() {
    var consentText = document.getElementById('cc-nb-text');
    if (consentText) {
      consentText.innerHTML = 'Este site usa cookies para garantir que você tenha a melhor experiência em nosso site.';
    }
  }

  // Wait for a short time to ensure the cookie consent script has applied the initial styles and text
  setTimeout(function() {
    // modifyCookieConsentOverlay();
    changeConsentText();
  }, 0);
});
</script>
<noscript>Free cookie consent management tool by
  <a href="https://www.termsfeed.com/" rel="nofollow noopener">TermsFeed Policy Generator</a></noscript>


<!-- End Cookie Consent by TermsFeed https://www.TermsFeed.com --> <!-- Below is the link that users can use to open Preferences Center to change their preferences. Do not modify
the ID parameter. Place it where appropriate, style it as needed. -->


<style>
  
  .termsfeed-com---palette-light .cc-nb-okagree {
    background-color: <%= site_colors.primary %>;
  }
  .termsfeed-com---palette-light .cc-nb-reject {
    background-color: <%= site_colors.primary %>;
  }
  
</style>