<div class="container mx-auto" style="margin-top: 100px;"> 
    <% @socials.each do |social| %>
      <% if social.insta_show.present? %>
        <div>
          <p class="text-map text-center" style="color: <%= site_colors.primary %>; font-family: <%= FontPrimary.first.category_font.title %>;">ACOMPANHE AS NOVIDADES PELO NOSSO INSTA:</p>
        </div>
        <%= social.insta_show.html_safe %>
      <% end %>
    <% end %> 
</div>