<div class="text-center" style="margin-top: 100px;">
  <p
    class="text-map"
    style="color: <%= site_colors.primary %>; font-family: <%= FontPrimary.first.category_font.title %>; position: relative; display: inline-block; margin-bottom: 30px;"
  >
    ESTAMOS LOCALIZADAS BEM AQUI:
    <span style="position: absolute; bottom: 0px; left: 0; right: 0; height: 1px; background-color: #0E345E;"></span>
  </p>
</div>

<div class="section__services-categories mb-5">
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3692.671513506114!2d-53.35592366177851!3d-22.252538820137676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x948e7d1b4e4a6c7f%3A0xc5faac0d322866c1!2sR.%20Walter%20Hubacher%2C%201848%20-%20Centro%2C%20Nova%20Andradina%20-%20MS%2C%2079750-000!5e0!3m2!1spt-BR!2sbr!4v1731353554943!5m2!1spt-BR!2sbr"
        style="width: 100%; height: 240px; border: 0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
