h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 72px;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 59px;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 29px;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.karla-thin {
  font-family: "Karla", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.karla-extralight {
  font-family: "Karla", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.karla-light {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.karla-regular {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.karla-medium {
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.karla-semibold {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.karla-bold {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.karla-extrabold {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-style: normal;
}



.karla-thin-italic {
  font-family: "Karla", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.karla-extralight-italic {
  font-family: "Karla", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.karla-light-italic {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.karla-regular-italic {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.karla-medium-italic {
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.karla-semibold-italic {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.karla-bold-italic {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.karla-extrabold-italic {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-style: italic;
}






.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-extralight {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-thin-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-extralight-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-light-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-regular-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-medium-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-semibold-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-bold-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-extrabold-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-black-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.inter-thin {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.inter-extralight {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.inter-thin-italic {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.inter-extralight-italic {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.inter-light-italic {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inter-regular-italic {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inter-medium-italic {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.inter-semibold-italic {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.inter-bold-italic {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.inter-extrabold-italic {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.inter-black-italic {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.rubik-thin {
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.rubik-extralight {
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.rubik-light {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-medium {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rubik-semibold {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.rubik-extrabold {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.rubik-black {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.rubik-thin-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.rubik-extralight-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.rubik-light-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.rubik-regular-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.rubik-medium-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.rubik-semibold-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.rubik-bold-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.rubik-extrabold-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.rubik-black-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-style: italic;
}





